@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --bg: #1A1B1F;
  --bg-lt:#212329;
  --lt-gr:#313237;
  --grey:#3a3c47;
  --blue:#3482e7;
  --clr:white;
}

body {
  width: 100%;
  height: 100vh;
  background: var(--bg);
  color: var(--clr);
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 0.9rem;
  font: bold;
}

main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left {
  border-right: 3px solid var(--bg-lt);
  padding: 10px;
  overflow: hidden;
}

.left .logo {
  height: 5%;
}

.left .logo img {
  width: 95%;
}

.left .left-menu {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0 20px 0;
}

.left .left-menu .menu {
  width: 100%;
}

.left .left-menu .menu-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0;
  border-radius: 20px;
  padding: 8px;
  cursor: pointer;
  font-size: 0.8rem;
}

.left .left-menu .menu-item img {
  margin-right: 10px;
  width: 15px;
}

.left .left-menu .menu-item:hover {
  background: var(--bg-lt);
}

.left .left-menu .profile {
  width: 100%;
}

.left .left-menu .user {
  position: relative;
}

.left .left-menu .user img {
  width: 30px;
  margin-left: -5px;
}

.left .left-menu .user .online-ba {
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 5px;
  left: 20px;
  font-size: 0.7rem;
  background: green;
  border-radius: 50%;
}

.right {
  width: 100%;
  height: 100%;
  padding: 10px 20px 30px 20px;
}

.right .header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right .header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right .header .nav li {
  list-style-type: none;
  margin: 0 10px;
  padding: 3px 8px;
  border-radius: 20px;
  font-size: 0.8rem;
}

.right .header .nav .active {
  background: var(--blue);
}

.right .header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right .header .search .noty {
  width: 20px;
  position: relative;
  margin-right: 20px;
}

.right .header .search .noty img {
  width: 20px;
}

.right .header .search .noty .badge {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.7rem;
  background: red;
  border-radius: 50%;
}

.right .header .search .sec {
  position: relative;
}

.right .header .search .sec input {
  background: var(--bg-lt);
  border: none;
  padding: 6px 0 6px 30px;
  border-radius: 20px;
  color: var(--clr);
}

.right .header .search .sec input:focus {
  outline: none;
}

.right .header .search .sec img {
  position: absolute;
  top: 6px;
  left: 5px;
  width: 18px;
}

.right .hero {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 30px;
}

.right .hero .main-hero {
  position: relative;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
  width: 100%;
  height: 270px;
  margin: 5px 0;
}

.right .hero .main-hero::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: url("../assets/Rectangle 3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.7;
}

.right .hero .main-hero h1 {
  padding-left: 30px;
  padding-top: 10px;
}

.right .hero .main-hero .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding-left: 30px;
}

.right .hero .main-hero .info .desc .update {
  font-size: 0.6rem;
  padding: 5px 0;
}

.right .hero .main-hero .info .desc p {
  font-size: 1.5rem;
}

.right .hero .main-hero .info .cta {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--blue);
  padding: 5px 10px;
  border-radius: 10px;
  margin: 13px 0;
}

.right .hero .main-hero .info .cta img {
  width: 24px;
}

.right .hero .side-hero {
  width: 25%;
  height: 270px;
  border-radius: 0 10px 10px 0;
  margin-left: 5px;
  background: var(--bg-lt);
}

.right .hero .side-hero .game-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  margin: 4px 0;
}

.right .hero .side-hero .game-card .img-card {
  padding-right: 8px;
}

.right .hero .side-hero .game-card .img-card img {
  width: 45px;
  height: 45px;
}

.right .hero .side-hero hr {
  width: 50%;
  margin: -5px 0 8px 10px;
  border-color: aquamarine;
}

.right .bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1px 20px 3px 20px;
}

.right .bar .ico img {
  width: 24px;
}

.right .bar .ico .left-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.right .gos-cont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right .gos-cont .sale-card {
  width: 100%;
  height: 100%;
  position: relative;
}

.right .gos-cont .sale-card img {
  opacity: 0.8;
}

.right .gos-cont .sale-card .info {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.right .gos-cont .sale-card .info .name {
  margin: 3px 0;
  font-size: 0.7rem;
  color: silver;
  font: bold;
}

.right .gos-cont .sale-card .info span {
  margin-right: 5px;
}

.right .gos-cont .sale-card .info .disc {
  background: #8dd325;
  color: var(--bg);
  border-radius: 8px;
  font-size: 0.8rem;
  padding: 2px;
}

.right .gos-cont .sale-card .info strike {
  color: grey;
}

.right .gos-cont .sale-card .info .price {
  font: bold;
}

.small-screen {
  display: none;
}

@media (max-width: 992px) {
  main {
    display: none;
  }
  .small-screen {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: block;
    font-size: 3rem;
  }
}
